<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>reddit: the front page of internet</title>
	<link rel="stylesheet" type="text/css" href="/static/headerstyle.css">
	<link rel="stylesheet" type="text/css" href="/static/topPart.css">
	<link rel="stylesheet" type="text/css" href="/static/bottomPart.css">
	<link rel="stylesheet" type="text/css" href="/static/posts.css">
</head>

<body>
	<div="container">
		<dic class="header">
			<div class="categories">
				<div class="dropdown">
					<p>MY SUBREDDITS</p>
				</div>
				<ul>
					<li class="all">POPULAR</li>
					<li>
						<span class="separator">-</span>ALL</li>
					<li>
						<span class="separator">-</span>RANDOM</li>
					<li>
						<span class="separator">|</span>ASKREDDIT</li>
					<li>
						<span class="separator">-</span>WORLDNEWS</li>
					<li>
						<span class="separator">-</span>VIDEOS</li>
					<li>
						<span class="separator">-</span>FUNNY</li>
					<li>
						<span class="separator">-</span>TODAYILEARNED</li>
					<li>
						<span class="separator">-</span>PICS</li>
					<li>
						<span class="separator">-</span>GAMING</li>
					<li>
						<span class="separator">-</span>MOVIES</li>
					<li>
						<span class="separator">-</span>NEWS</li>
					<li>
						<span class="separator">-</span>GIFS</li>
					<li>
						<span class="separator">-</span>MILDLYINTERESTING</li>
					<li>
						<span class="separator">-</span>AWW</li>
					<li>
						<span class="separator">-</span>SHOWERTHOUGHTS</li>
					<li>
						<span class="separator">-</span>TELEVISION</li>
					<li>
						<span class="separator">-</span>JOKES</li>
					<li>
						<span class="separator">-</span>SCIENCE</li>
					<li>
						<span class="separator">-</span>OLDSCHOOLCOOL</li>
					<li>
						<span class="separator">-</span>EUROPE</li>
					<li>
						<span class="separator">-</span>SPORTS</li>
					<li>
						<span class="separator">-</span>IAMA</li>
					<li>
						<span class="separator">-</span>DOCUMENTARIES</li>
					<li>
						<span class="separator">-</span>TWOXCI</li>
					<li>MORE >></li>
				</ul>
			</div>
			<div class="mainHeader">
				<div class="navLeft">
					<img class="logo">
					<div class="menu">
						<strong class="optstyle">
							<div class="opt active">hot</div>
							<div class="opt">new</div>
							<div class="opt">rising</div>
							<div class="opt">controversial</div>
							<div class="opt">top</div>
							<div class="opt">gilded</div>
							<div class="opt">wiki</div>
						</strong>
					</div>
				</div>
				<div class="navRight">
					<div class="regForm">
						<p>Want to join?
							<span class="toLogIn">Log in</span> or
							<span class="toReg">registrate</span> in seconds. |
							<span class="lang">
								<strong>English</strong>
							</span>
						</p>
					</div>
				</div>
			</div>
		</dic>
		<div class="topPart">
			<div class="popular">popular in:
				<a>Hungary</a>
			</div>
			<input type="search" placeholder="Search" class="search">
		</div>
		<div class="bottomPart">
			<div class="posts">
		
			</div>
			<div class="activity">
				<form class="login">
					<div class="inputs">
						<input class="usrinfo" type="text" placeholder="Account Name">
						<input class="usrinfo" type="password" placeholder="password">
					</div>
					<div class="button">
						<input id="remember" type="checkbox">
						<label for="remember">remember me</label>
						<span class="reset">reset password</span>
						<input class="btn" type="submit" value="login">
					</div>
				</form>
				<div class="create">Submit a new link</div>
				<div class="create">Submit a new text post</div>
			</div>
		</div>
		</div>
		<script src="/static/index.js"></script>
</body>

</html>