.posts {
	display: flex;
	flex-direction: column;
	width: 100%
}

.post {
	display: flex;
	flex-direction: row;
	height: 66px;
	padding-left: 3px;
	font-size: 18px;
	color: lightgray;
}

.postid {
	height: 100%;
	width: 2rem;
	line-height: 66px;
	text-align: center;
	align-self: center;
}

.votes {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 48px;
	text-align: center;
	align-self: center;
	margin: 5px;
}

.uparrow {
	height: 22px;
	background-image: url('/static/images/uparrow.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.downarrow {
	height: 22px;
	background-image: url('/static/images/downarrow.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.postimage {
	margin: 0 5px 0 5px;
}

.title {
	color: blue;
}

.littledetails {
	display: flex;
	align-items: center;
	height: 44px;
}

.canteven {
	display: flex;
	flex-direction: column;
}

.postdetails {
	font-size: 1rem;
}