* {
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ecf0f1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 350px;
  height: 600px;
  align-items: center;
  justify-content: center;
  font-family: Lato;
}

.innard {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  justify-content: space-around;
}

.city {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin: 5px;
  text-decoration: none;
}

.left {
  width: 50%;
  align-self: center;
  text-indent: 20px;
}

.right {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.cityName {
  font-size: 25px;
}

.stateName {
  font-size: 13px;
}

.temperature {
  align-self: center;
  text-align: center;
  width: 50%;
}

.icon {
  width: 50%;
}