* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  font-family: arial;
  height: 250px;
  width: 350px;
  text-indent: 25px;
}

h2 {
  font-size: 30px;
  margin: 20px;
}

.menus {
  text-indent: 0;
  text-align: center;
}

select {
  color: blue;
  height: 40px;
}

span {
  margin: 20px;
}

.movie .Drama {
  display: none;
}
.movie .Sci-fi {
  display: none;
}
.movie .Comedy {
  display: none;
}

.visible {
  display: block !important;
}